:root{
    --red: #ff4c4c;
    --blue:#003ec9;
}
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    background-color: var(--blue);
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    font-size: 32px;
    color: white;
    border: 1px solid white;
}
.container{
    display: grid;
    gap:20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 150px 350px 100px;
    grid-template-areas: 
    "header header"
    "content sidebar"
    "content sidebar"
    "footer footer";
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
}