:root{
    --red: #ff4c4c;
    --blue:#003ec9;
}
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    background-color: var(--blue);
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    font-size: 32px;
    color: white;
    border: 1px solid white;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,150px);
    gap:20px
}
.i4{
    grid-column-end: -1;
}
